<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GETTING STARTED WITH BRACKETS</title>
    <meta name="description" content="Angular Practice">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <nav class="navbar">
        <p>AngluarJS Practice</p>
        <p>-^-^/</p>
    </nav>

    <main ng-controller="mainController">

        <div>
            <label>What is your twitter handler?</label>
            <input type="text" ng-model="handle">
        </div>

        <div class="handle-url" ng-class="{'handle-url-filled': handle !== ''}">
            <h1>twitter.com/{{ lowercaseHandle() }}
                <div ng-class="{'handle-url-filled_shadow': handle !== ''}"></div>
            </h1>

        </div>

        <div class="alert" ng-if="handle.length >= 1" ng-class="{'alert-warning': handle.length <= characters, 'alert-danger': handle.length > characters}">
            <div ng-show="handle.length < characters">You have less than 5 characters</div>
            <div ng-show="handle.length === characters">You have 5 characters!</div>
            <div ng-show="handle.length > characters">You have more than 5 characters!!!</div>
        </div>

        <h4>Rules:</h4>
        <ul>
            <li ng-repeat="rule in rules">{{ rule.ruleName }}</li>
        </ul>
    </main>

    <footer></footer>


    <script src="https://code.angularjs.org/1.7.8/angular.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
</body></html>
