body {
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    border-right: 1px dashed rgba(0, 0, 0, .1);
    border-left: 1px dashed rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px .1px rgba(0, 0, 0, .05);
}

nav {
    background-color: rgba(0, 0, 0, .05);
    margin-bottom: 30px;
}

.handle-url {
    margin-top: 50px;
}
