// out: ../css/forecast.css, compress: true, strictMath: true
.page-heading {
}

.forecast-results-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0.5em;

  .forecast-results {
    display: flex;

    padding: 0.5em 1em;

    // border-top: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: whitesmoke;

    justify-content: space-between;
    align-items: center;

    &:not(:first-of-type) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      border-top: none;
    }

    &:last-of-type {
      border-top: none;
      border-bottom: none;
    }

    &.results-table-view {
      .forecast-left {
        font-size: 10px;

        display: grid;

        min-width: 60px;

        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-row-gap: 1em;

        .forecast-day-month {
          text-align: left;

          grid-column: 1;
          grid-row: 1;

          padding: 4px;
          background: rgba(0, 0, 0, 0.05);
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-right: none;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
            0 15px 40px rgba(166, 173, 201, 0.2);
        }

        .forecast-year {
          text-align: right;

          grid-column: 2;
          grid-row: 1;

          background: rgba(0, 0, 0, 0.07);
          padding: 4px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
            0 15px 40px rgba(166, 173, 201, 0.2);
        }

        .forecast-time {
          text-align: left;

          grid-column: 1;
          grid-row: 2;
          padding: 4px;
          background: rgba(255, 255, 255, 0.05);
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-right: none;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
            0 15px 40px rgba(166, 173, 201, 0.2);
        }

        .forecast-day-of-week {
          text-align: right;

          grid-column: 2;
          grid-row: 2;
          background: rgba(255, 255, 255, 0.07);
          padding: 4px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
            0 15px 40px rgba(166, 173, 201, 0.2);
        }
      }

      .forecast-weather {
        text-align: center;
        flex-basis: 100px;
      }
    }
  }
}
