// out: ../css/home.css, compress: true, strictMath: true

.home-container {
  display: grid;

  color: #333;

  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: left;
  align-items: center;

  .map {
    height: 400px;
  }

  .input-container {
    display: grid;

    width: auto;
    margin-left: 1em;

    input {
      font-size: 50px;

      display: block;

      width: 100%;
      min-width: 300px;
      height: auto;
      padding-top: 10px;

      color: #333;
      border: none;
      border-bottom: 4px solid #333;
      outline: none;
      background: rgba(255, 255, 255, 0);
    }
  }

  .button {
    margin-top: 1em;
    margin-left: 1em;
  }
}
