// out: ../css/home.css, compress: true, strictMath: true

.home-container {
  display: grid;

  color: #333;

  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: left;
  align-items: center;

  .map-container {
    margin-top: 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid white;
    border-radius: 2px;
    padding: 0.5em;
    width: 100%;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);

    #map {
      height: 300px;
    }
  }

  .input-container {
    display: grid;

    width: auto;
    margin-left: 1em;

    input {
      font-size: 50px;

      display: block;

      width: 100%;
      min-width: 300px;
      height: auto;
      padding-top: 10px;

      color: #333;
      border: none;
      border-bottom: 4px solid #333;
      outline: none;
      background: rgba(255, 255, 255, 0);
    }
  }

  .button {
    margin-top: 1em;
    margin-left: 1em;
  }
}
